{% extends 'website/base.html' %}
{% load static %}
{% block title %}Despre noi{% endblock %}

{% block content %}
<br>
<div role="main" class="main">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="font-weight-semibold text-10 text-color-default">Despre Căpşune Mârșani</h1>
                <div class="dynamic-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <br>
                            <p style="text-align: justify;">
                                Bine ați venit la <strong>Căpşune Mârșani</strong> - o poveste de pasiune, tradiție și
                                gust autentic! Suntem o
                                familie dedicată agriculturii și căutăm să aducem în casele voastre prospețimea și
                                savoarea
                                autentică a căpșunilor noastre deosebite. Cu rădăcini adânci în pământ și zâmbetul
                                nostru de
                                horticultori, vă invităm să cunoașteți lumea noastră verde și să vă bucurați de fructele
                                muncii
                                noastre.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="dynamic-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <br>
                            <p style="text-align: justify;">
                                Descoperiți deliciile naturii în fiecare căpșună pe care o cultivăm cu grijă și
                                devotament. De la soiuri tradiționale la varietăți inedite, fiecare fruct este o
                                poveste a gustului autentic. Alegeți să gustați pasiunea noastră pentru calitate și
                                bucurați-vă de experiența unui gust de neuitat.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="dynamic-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <br>
                            <p style="text-align: justify;">
                                La <strong>Căpşune Mârșani</strong>, ne mândrim cu angajamentul nostru față de mediul
                                înconjurător
                                și comunitatea locală. Prin practici sustenabile și colaborări locale, contribuim la o
                                agricultură mai durabilă și la creșterea calității vieții în comunitatea noastră.
                                Alăturați-vă nouă în călătoria noastră spre o lume mai verde și mai gustoasă!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="dynamic-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <br>
                            <p class="transition-image" style="text-align: justify; ">
                            <img src="{% static 'website/images/transition.jpeg' %}">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}